app/pug/pages/index.pug
extends ../layouts/layout.pug

block content
    .description
        p
          strong Vivamus posuere sapien
        |
        em Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus purus at semper eleifend. Mauris hendrerit turpis vel ornare gravida. Morbi consectetur, turpis a scelerisque vulputate, enim dolor scelerisque magna, id finibus tortor tellus viverra elit. Etiam lobortis ac magna vitae rutrum.

    .contentText
        h1 Lorem Ipsum
        h2 Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
        hr
        p Duis congue metus malesuada quam pharetra, viverra pulvinar leo volutpat. Integer metus risus, ultricies nec convallis eu, finibus quis velit. Sed rutrum aliquam mauris, eget volutpat tellus laoreet nec. Sed et iaculis orci, accumsan commodo lorem. Morbi eu sem in purus pulvinar faucibus et eu metus. Suspendisse pharetra sem id dignissim vestibulum. Sed ac massa et orci semper varius. Aliquam vitae aliquam orci, eget maximus enim. Aliquam eu erat ornare, convallis lectus sed, dapibus nulla. Phasellus eleifend, libero eu eleifend gravida, nibh lacus tincidunt diam, accumsan ullamcorper velit purus at lacus. Morbi vehicula elit nunc, ut sollicitudin ligula euismod id. Nulla aliquet nibh et lacus accumsan vehicula. Curabitur dictum cursus maximus. Phasellus fringilla tincidunt blandit. Maecenas at pulvinar nulla, ut tristique purus. Proin semper porttitor nibh, sed vehicula tortor semper et.
        p Praesent laoreet semper ante a pretium. Cras vel mauris a mi vestibulum consectetur. Nam lectus urna, facilisis vel augue et, fermentum euismod mi. Etiam ligula augue, dictum non aliquam in, accumsan id purus. Proin ipsum sapien, pellentesque sed nisl iaculis, facilisis rhoncus ante. Vivamus vitae mi non lectus imperdiet convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi lorem dui, tincidunt vitae tincidunt vitae, vulputate vel orci. Etiam volutpat finibus felis, nec feugiat tortor elementum id. Sed posuere dui nunc, id scelerisque magna ornare et.
        p Donec mattis elementum fringilla. Suspendisse eget metus eu arcu tristique luctus. Fusce ac elit id elit luctus pellentesque a ac ligula. Mauris non felis magna. Nullam elementum aliquam lectus. Curabitur a mattis elit, quis dapibus augue. Maecenas rutrum diam cursus lacus finibus, id pharetra libero euismod. Ut nec turpis leo. Integer viverra urna ut est volutpat, a euismod felis ullamcorper. Morbi at velit sit amet tellus laoreet scelerisque. Curabitur nisl orci, ornare a purus eu, dignissim venenatis lectus. Nulla in nibh tincidunt, tincidunt lectus non, blandit erat. Aliquam blandit nisi vel orci tincidunt, in dictum purus egestas. Vestibulum odio risus, semper non aliquam in, gravida quis ligula. Integer vulputate id leo eget tincidunt. Duis id pharetra justo, sit amet accumsan ex.
        p Aenean faucibus elit et nunc malesuada consectetur. Donec gravida sapien eros, ac blandit libero auctor sed. Quisque cursus felis ut magna elementum finibus. Aenean dapibus nec purus nec eleifend. Fusce sem dolor, imperdiet cursus hendrerit vitae, rutrum eget metus. Etiam volutpat diam in commodo accumsan. Curabitur varius ante vel dui venenatis accumsan. Ut sit amet consectetur nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        p Cras consequat ullamcorper pharetra. Vestibulum sit amet lacus viverra, interdum magna non, sodales sem. Ut sagittis gravida felis, non mollis orci tincidunt eu. Curabitur fringilla ultrices ex, id consectetur risus tempor vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In at ex ut mi sagittis hendrerit sed ultrices orci. Fusce a dolor nisi. Morbi maximus at velit ac auctor. Donec eget massa et erat cursus pellentesque vel pellentesque ante. Nunc at felis vel metus lobortis hendrerit. Proin augue mi, maximus sit amet venenatis a, condimentum vitae odio.
        p Curabitur et massa eget ante rutrum sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer gravida dui nec quam tristique tristique. Aliquam iaculis scelerisque tincidunt. Morbi lobortis molestie erat non viverra. Ut ut iaculis purus. In vel malesuada mauris, et porta arcu.
        p Phasellus vel ante vel augue imperdiet accumsan. Duis eget ex vitae nisi interdum finibus vel at libero. Nullam in hendrerit arcu. Donec aliquet quis ipsum at tincidunt. Etiam venenatis euismod enim nec posuere. Aenean semper neque a elit luctus, sed consequat nisl semper. Vivamus in sapien libero.
        p Mauris odio sem, auctor nec aliquet ut, porttitor in nulla. Sed ultricies lacinia sem id congue. Vivamus ac ligula felis. Fusce euismod magna nec vehicula ornare. Duis et purus a lacus iaculis molestie. Quisque congue ultricies elit quis facilisis. Nullam vitae ante sed eros pellentesque volutpat vel sed augue. Mauris varius sit amet urna id commodo. Quisque eu quam eu magna eleifend gravida. Vestibulum ultricies elit nec erat dictum, condimentum tempor lacus ornare. Ut fringilla metus sed metus varius, pulvinar faucibus massa fringilla. Nunc et elementum enim, id pellentesque nibh.
        p Maecenas ut bibendum odio. Quisque sit amet lacus metus. Mauris nec lacus bibendum, tristique elit at, eleifend tortor. Aenean ac dignissim ligula, sed fringilla lectus. Sed id vulputate neque, eget dapibus tortor. Fusce nec nisl vehicula nisi cursus convallis. Nam commodo, tellus a laoreet tincidunt, diam velit elementum nisi, et rutrum felis nibh at ex. Etiam tristique urna quam, eu egestas turpis gravida fermentum. Etiam vulputate gravida felis.
        p Fusce scelerisque imperdiet est, et dapibus tellus ornare at. Morbi euismod, risus eu hendrerit facilisis, nunc ipsum sodales lorem, eu suscipit diam urna et massa. Cras tristique erat tortor, vitae consectetur leo condimentum id. Phasellus hendrerit vulputate facilisis. Ut quis commodo elit. Praesent turpis ipsum, efficitur eget odio lacinia, sagittis pellentesque orci. Donec vitae lacinia metus, ac cursus ligula. In eu arcu rutrum, finibus mi non, venenatis lacus. Quisque aliquet mauris a nunc convallis iaculis. Duis a vehicula erat. Donec neque nisi, tempor vitae lacus eget, fringilla tincidunt lorem. Morbi id tempus odio.
        p Vestibulum vestibulum porta ullamcorper. Sed dignissim tortor sed ante semper pretium. Nullam ut imperdiet mauris. Curabitur auctor enim metus, at placerat est venenatis a. Praesent id erat non justo tincidunt eleifend. Sed in turpis eu nibh ultricies pulvinar vel non massa. Fusce aliquet tempus lacus vel maximus. Morbi rhoncus lacinia mi, malesuada cursus velit eleifend id. Vestibulum sed bibendum justo. Fusce facilisis pretium blandit.
        p Quisque mollis semper tellus, id placerat nisl rhoncus id. Donec gravida sit amet ex eu molestie. Nunc augue neque, eleifend vel sapien non, volutpat pharetra velit. Nulla tempus faucibus orci, eget finibus orci tempor in. Sed id tortor augue. Vivamus facilisis nec dolor nec varius. Aenean hendrerit nisl sed ex iaculis, sed dignissim lacus sagittis. Sed tempus ornare justo, vel tincidunt erat aliquet sed. In libero orci, bibendum accumsan placerat vitae, finibus in turpis. Praesent laoreet, odio vel pretium interdum, ex urna varius massa, nec lobortis eros velit vel quam. Sed a ipsum libero. Donec sollicitudin gravida metus, a aliquet turpis tristique eget. Maecenas commodo euismod maximus.
        p Vivamus posuere sapien quis risus aliquam, ut eleifend dui tempus. Ut egestas felis ut tellus tempor, non maximus urna mattis. Vivamus non felis eget est luctus placerat eget ut tellus. Duis tellus erat, vestibulum ut accumsan vel, porttitor eget magna. Mauris non euismod augue. Nullam risus sem, mollis et placerat ut, sollicitudin tincidunt diam. Sed nulla nunc, consectetur eget dictum sit amet, aliquet eu erat. Sed sodales molestie tincidunt. Ut porta, nunc a venenatis volutpat, magna diam ultrices lacus, id condimentum felis tortor a tortor. Duis id ligula nec justo pulvinar porta. Vestibulum egestas diam ac dui commodo, commodo rhoncus lorem consectetur. Fusce accumsan nulla non massa ornare, ut feugiat lectus molestie. Integer viverra leo eget tellus varius pretium. Phasellus sodales sollicitudin eros ut cursus. Donec tristique sit amet dui quis imperdiet. Donec nunc mi, interdum quis arcu ac, luctus gravida mi.
        
    .alwaysVisible
        ul
            li Lorem
            li Mauris
            li Duis
            li Praesent
            li Donec
            li Aenean

block asideLeft
    ul
        li Lorem
        li Mauris
        li Duis
        li Praesent
        li Donec
        li Aenean

block asideRight
    ul
        li Lorem
        li Mauris
        li Duis
        li Praesent
        li Donec
        li Aenean

dist/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>itprogects.homogen test task</title>
    <link rel="stylesheet" href="assets/css/vendor.min.css">
    <link rel="stylesheet" href="assets/css/common.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <header class="fixed-top">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="#" onclick="$(&quot;.asideLeft&quot;).toggleClass(&quot;visible&quot;); return false">LOREM</a></li>
          <li><a class="nav-link" href="#" onclick="$(&quot;.asideRight&quot;).toggleClass(&quot;visible&quot;); return false">IPSUM</a></li>
        </ul>
      </header>
      <div class="description">
        <p><strong>Vivamus posuere sapien</strong></p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus purus at semper eleifend. Mauris hendrerit turpis vel ornare gravida. Morbi consectetur, turpis a scelerisque vulputate, enim dolor scelerisque magna, id finibus tortor tellus viverra elit. Etiam lobortis ac magna vitae rutrum.</em>
      </div>
      <div class="contentText">
        <h1>Lorem Ipsum</h1>
        <h2>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h2>
        <hr>
        <p>Duis congue metus malesuada quam pharetra, viverra pulvinar leo volutpat. Integer metus risus, ultricies nec convallis eu, finibus quis velit. Sed rutrum aliquam mauris, eget volutpat tellus laoreet nec. Sed et iaculis orci, accumsan commodo lorem. Morbi eu sem in purus pulvinar faucibus et eu metus. Suspendisse pharetra sem id dignissim vestibulum. Sed ac massa et orci semper varius. Aliquam vitae aliquam orci, eget maximus enim. Aliquam eu erat ornare, convallis lectus sed, dapibus nulla. Phasellus eleifend, libero eu eleifend gravida, nibh lacus tincidunt diam, accumsan ullamcorper velit purus at lacus. Morbi vehicula elit nunc, ut sollicitudin ligula euismod id. Nulla aliquet nibh et lacus accumsan vehicula. Curabitur dictum cursus maximus. Phasellus fringilla tincidunt blandit. Maecenas at pulvinar nulla, ut tristique purus. Proin semper porttitor nibh, sed vehicula tortor semper et.</p>
        <p>Praesent laoreet semper ante a pretium. Cras vel mauris a mi vestibulum consectetur. Nam lectus urna, facilisis vel augue et, fermentum euismod mi. Etiam ligula augue, dictum non aliquam in, accumsan id purus. Proin ipsum sapien, pellentesque sed nisl iaculis, facilisis rhoncus ante. Vivamus vitae mi non lectus imperdiet convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi lorem dui, tincidunt vitae tincidunt vitae, vulputate vel orci. Etiam volutpat finibus felis, nec feugiat tortor elementum id. Sed posuere dui nunc, id scelerisque magna ornare et.</p>
        <p>Donec mattis elementum fringilla. Suspendisse eget metus eu arcu tristique luctus. Fusce ac elit id elit luctus pellentesque a ac ligula. Mauris non felis magna. Nullam elementum aliquam lectus. Curabitur a mattis elit, quis dapibus augue. Maecenas rutrum diam cursus lacus finibus, id pharetra libero euismod. Ut nec turpis leo. Integer viverra urna ut est volutpat, a euismod felis ullamcorper. Morbi at velit sit amet tellus laoreet scelerisque. Curabitur nisl orci, ornare a purus eu, dignissim venenatis lectus. Nulla in nibh tincidunt, tincidunt lectus non, blandit erat. Aliquam blandit nisi vel orci tincidunt, in dictum purus egestas. Vestibulum odio risus, semper non aliquam in, gravida quis ligula. Integer vulputate id leo eget tincidunt. Duis id pharetra justo, sit amet accumsan ex.</p>
        <p>Aenean faucibus elit et nunc malesuada consectetur. Donec gravida sapien eros, ac blandit libero auctor sed. Quisque cursus felis ut magna elementum finibus. Aenean dapibus nec purus nec eleifend. Fusce sem dolor, imperdiet cursus hendrerit vitae, rutrum eget metus. Etiam volutpat diam in commodo accumsan. Curabitur varius ante vel dui venenatis accumsan. Ut sit amet consectetur nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Cras consequat ullamcorper pharetra. Vestibulum sit amet lacus viverra, interdum magna non, sodales sem. Ut sagittis gravida felis, non mollis orci tincidunt eu. Curabitur fringilla ultrices ex, id consectetur risus tempor vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In at ex ut mi sagittis hendrerit sed ultrices orci. Fusce a dolor nisi. Morbi maximus at velit ac auctor. Donec eget massa et erat cursus pellentesque vel pellentesque ante. Nunc at felis vel metus lobortis hendrerit. Proin augue mi, maximus sit amet venenatis a, condimentum vitae odio.</p>
        <p>Curabitur et massa eget ante rutrum sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer gravida dui nec quam tristique tristique. Aliquam iaculis scelerisque tincidunt. Morbi lobortis molestie erat non viverra. Ut ut iaculis purus. In vel malesuada mauris, et porta arcu.</p>
        <p>Phasellus vel ante vel augue imperdiet accumsan. Duis eget ex vitae nisi interdum finibus vel at libero. Nullam in hendrerit arcu. Donec aliquet quis ipsum at tincidunt. Etiam venenatis euismod enim nec posuere. Aenean semper neque a elit luctus, sed consequat nisl semper. Vivamus in sapien libero.</p>
        <p>Mauris odio sem, auctor nec aliquet ut, porttitor in nulla. Sed ultricies lacinia sem id congue. Vivamus ac ligula felis. Fusce euismod magna nec vehicula ornare. Duis et purus a lacus iaculis molestie. Quisque congue ultricies elit quis facilisis. Nullam vitae ante sed eros pellentesque volutpat vel sed augue. Mauris varius sit amet urna id commodo. Quisque eu quam eu magna eleifend gravida. Vestibulum ultricies elit nec erat dictum, condimentum tempor lacus ornare. Ut fringilla metus sed metus varius, pulvinar faucibus massa fringilla. Nunc et elementum enim, id pellentesque nibh.</p>
        <p>Maecenas ut bibendum odio. Quisque sit amet lacus metus. Mauris nec lacus bibendum, tristique elit at, eleifend tortor. Aenean ac dignissim ligula, sed fringilla lectus. Sed id vulputate neque, eget dapibus tortor. Fusce nec nisl vehicula nisi cursus convallis. Nam commodo, tellus a laoreet tincidunt, diam velit elementum nisi, et rutrum felis nibh at ex. Etiam tristique urna quam, eu egestas turpis gravida fermentum. Etiam vulputate gravida felis.</p>
        <p>Fusce scelerisque imperdiet est, et dapibus tellus ornare at. Morbi euismod, risus eu hendrerit facilisis, nunc ipsum sodales lorem, eu suscipit diam urna et massa. Cras tristique erat tortor, vitae consectetur leo condimentum id. Phasellus hendrerit vulputate facilisis. Ut quis commodo elit. Praesent turpis ipsum, efficitur eget odio lacinia, sagittis pellentesque orci. Donec vitae lacinia metus, ac cursus ligula. In eu arcu rutrum, finibus mi non, venenatis lacus. Quisque aliquet mauris a nunc convallis iaculis. Duis a vehicula erat. Donec neque nisi, tempor vitae lacus eget, fringilla tincidunt lorem. Morbi id tempus odio.</p>
        <p>Vestibulum vestibulum porta ullamcorper. Sed dignissim tortor sed ante semper pretium. Nullam ut imperdiet mauris. Curabitur auctor enim metus, at placerat est venenatis a. Praesent id erat non justo tincidunt eleifend. Sed in turpis eu nibh ultricies pulvinar vel non massa. Fusce aliquet tempus lacus vel maximus. Morbi rhoncus lacinia mi, malesuada cursus velit eleifend id. Vestibulum sed bibendum justo. Fusce facilisis pretium blandit.</p>
        <p>Quisque mollis semper tellus, id placerat nisl rhoncus id. Donec gravida sit amet ex eu molestie. Nunc augue neque, eleifend vel sapien non, volutpat pharetra velit. Nulla tempus faucibus orci, eget finibus orci tempor in. Sed id tortor augue. Vivamus facilisis nec dolor nec varius. Aenean hendrerit nisl sed ex iaculis, sed dignissim lacus sagittis. Sed tempus ornare justo, vel tincidunt erat aliquet sed. In libero orci, bibendum accumsan placerat vitae, finibus in turpis. Praesent laoreet, odio vel pretium interdum, ex urna varius massa, nec lobortis eros velit vel quam. Sed a ipsum libero. Donec sollicitudin gravida metus, a aliquet turpis tristique eget. Maecenas commodo euismod maximus.</p>
        <p>Vivamus posuere sapien quis risus aliquam, ut eleifend dui tempus. Ut egestas felis ut tellus tempor, non maximus urna mattis. Vivamus non felis eget est luctus placerat eget ut tellus. Duis tellus erat, vestibulum ut accumsan vel, porttitor eget magna. Mauris non euismod augue. Nullam risus sem, mollis et placerat ut, sollicitudin tincidunt diam. Sed nulla nunc, consectetur eget dictum sit amet, aliquet eu erat. Sed sodales molestie tincidunt. Ut porta, nunc a venenatis volutpat, magna diam ultrices lacus, id condimentum felis tortor a tortor. Duis id ligula nec justo pulvinar porta. Vestibulum egestas diam ac dui commodo, commodo rhoncus lorem consectetur. Fusce accumsan nulla non massa ornare, ut feugiat lectus molestie. Integer viverra leo eget tellus varius pretium. Phasellus sodales sollicitudin eros ut cursus. Donec tristique sit amet dui quis imperdiet. Donec nunc mi, interdum quis arcu ac, luctus gravida mi.</p>
      </div>
      <div class="alwaysVisible">
        <ul>
          <li>Lorem</li>
          <li>Mauris</li>
          <li>Duis</li>
          <li>Praesent</li>
          <li>Donec</li>
          <li>Aenean</li>
        </ul>
      </div>
      <div class="aside asideLeft">
        <ul>
          <li>Lorem</li>
          <li>Mauris</li>
          <li>Duis</li>
          <li>Praesent</li>
          <li>Donec</li>
          <li>Aenean</li>
        </ul>
      </div>
      <div class="aside asideRight">
        <ul>
          <li>Lorem</li>
          <li>Mauris</li>
          <li>Duis</li>
          <li>Praesent</li>
          <li>Donec</li>
          <li>Aenean</li>
        </ul>
      </div>
      <footer><strong><small>Aenean faucibus elit et nunc malesuada consectetur.</small></strong></footer>
    </div>
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/common.min.js"></script>
  </body>
</html>
